.slider {
    width: 200px;
    float: left;
    margin-top:2px;
    margin-left: 10px;
    margin-right: 10px;
}

input {
    float: left;
}

table {
    float: left;
}

.summary {
    text-align: center;
}

.highlight {
    font-weight: bolder;
}

.header {
    font-size: large;
    font-weight: bold;
}
