[submodule "js/accounting"]
	path = js/accounting
	url = https://github.com/josscrowcroft/accounting.js.git
[submodule "js/queue"]
	path = js/queue
	url = https://github.com/itsdrewmiller/queue.js.git
[submodule "js/branchAndBound"]
	path = js/branchAndBound
	url = https://github.com/itsdrewmiller/branchAndBound.js
